<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <div id="mapid" style="height: 600px;"></div>

    <script>
        // Créer une carte sur Cermont-fd
        var map = L.map('mapid').setView([45.7772, 3.0870], 13);

        // Ajouter un fond de carte
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        // Faire une requête à votre API
        fetch('http://localhost:8000/api/formation/')
        .then(response => response.json())
            .then(data => {
                // Utiliser les données de l'API pour ajouter des marqueurs à la carte
                for (var i = 0; i < data.data.length; i++) {
                    var city = data.data[i];
                    L.marker([city.latitude, city.longitude]).addTo(map)
                        .bindPopup(city.name)
                        .openPopup();
                }
            });
    </script>
</body>
</html>
